<form class="k-form dm-enter-customer-purchase-form" [formGroup]="enterCustomerPurchaseForm" (ngSubmit)="submit()">
  <fieldset>
    <label class="k-form-field">
      <span>{{ 'Purchase' | translate }}</span>
      <kendo-numerictextbox
        [format]="numberc_two_dots_format"
        [decimals]="decimalsAllowed"
        [placeholder]="'Purchase' | translate"
        formControlName="purchase"
      ></kendo-numerictextbox>
    </label>
  </fieldset>

  <div class="dm-enter-customer-purchase-modal-actions">
    <button type="button" class="k-button" (click)="close()">{{ 'Cancel' | translate }}</button>
    <button type="button" class="k-button k-primary" type="submit">{{ 'Submit' | translate }}</button>
  </div>
</form>
